@use "../../variables" as v;

.portfolio {
  height: auto;
}
.portfolio__item {
  background: v.$color-secondary-600;
  min-width: 320px;
  padding: 1.5em;
  margin-bottom: 1.25em;
  border-radius: v.$borderRadius;
  border: 1px solid transparent;
  transition: v.$transition;

  &:hover {
    border-color: v.$color-primary-400;
    background: transparent;
  }

  &-image {
    height: 14em;
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 1.25em;
  }

  h3 {
    text-transform: capitalize;
    margin-bottom: 1.25em;
  }
  a {
    text-transform: capitalize;
    margin-right: 1em;
  }
}

/*
==============
Media Queries
==============
*/
@media screen and (min-width: 768px) {
  .portfolio {
    height: 100vh;
  }
  .portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
}
