@use "../../variables" as v;

.portfolio {
  height: fit-content;
}
.portfolio__item {
  background: v.$color-secondary-500;
  padding: 1.3em;
  margin-bottom: 1.25em;
  border-radius: v.$borderRadius;
  border: 1px solid transparent;
  transition: v.$transition;

  &:hover {
    border-color: v.$color-primary-400;
    background: transparent;
  }

  &-image {
    height: 14em;
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 1.25em;
  }

  h3 {
    text-transform: capitalize;
    margin-bottom: 1.25em;
  }
  a {
    text-transform: capitalize;
    margin-right: 1em;
  }
}
